/*
Author: Wanda Azhar
Location: Twin Falls, ID. USA
Contact: wandaazhar@gmail.com
Description: A responsive task tracking application built with React, TypeScript, Sass, and Firebase. Manage your to-do, doing, and done tasks with a clean, board-style interface.
*/

// @import './responsive.scss';
// @import './variable.scss';
@use './responsive';
@use './variable';


html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: variable.$colorBackgroundDark;
  color: variable.$colorBackgroundLight;
}

a {
  text-decoration: none;
  columns: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: variable.$colorBackgroundLight;

}