/*
Author: Wanda Azhar
Location: Twin Falls, ID. USA
Contact: wandaazhar@gmail.com
Description: A responsive task tracking application built with React, TypeScript, Sass, and Firebase. Manage your to-do, doing, and done tasks with a clean, board-style interface.
*/

@mixin smallPhone {
  @media screen and (max-width: (375px)) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: (480px)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: (768px)) {
    @content;
  }
}

@mixin miniDesktop {
  @media screen and (max-width: (1024px)) {
    @content;
  }
}

@mixin standartDesktop {
  @media screen and (max-width: (1200px)) {
    @content;
  }
}

@mixin largeDesktop {
  @media screen and (max-width: (1400px)) {
    @content;
  }
}